<% layout("/layouts/boilerPlate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Create a New Listings</h3>
            <br/>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listings[title]" placeholder="Enter Title" type="text" class="form-control" required>
                    <div class="valid-feedback">Title Looks Good</div>
                    <div class="invalid-feedback">Please Enter your Title</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listings[description]" class="form-control" required></textarea>
                    <div class="valid-feedback">Description Looks Good</div>
                    <div class="invalid-feedback">Please Enter your Description</div>
                </div>

                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="listings[image]" placeholder="Enter Image URL/LINK" type="text" class="form-control">
                </div> -->

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing File</label>
                    <input name="listings[image]" type="file" class="form-control" required>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listings[price]" placeholder="Enter Price" type="number" class="form-control" required>
                        <div class="valid-feedback">Price Looks Good</div>
                        <div class="invalid-feedback">Please Enter your Price</div>
                    </div>
    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listings[country]" placeholder="Enter Country" type="text" class="form-control" required>
                        <div class="valid-feedback">Looks Good</div>
                        <div class="invalid-feedback">Please Enter your Country</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listings[location]" placeholder="Enter Location" type="text" class="form-control" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">Please Enter your Location</div>
                </div>

                <br/>
                <button class="btn btn-dark add-btn">Add</button>
                <br/><br/>
            </form>
        </div>
    </div>
</body>
